//  Defaults
executor="slurm"
account="VR0002"
walltime="08:00:00"
memory="8"
jobtype="single"
queue="main"
qos="merri"

//command sepcific configs
commands {
    
    local {
        executor="local"
    }
    
    //quick jobs 10 min and 4GB
    small {
        walltime="0:10:00"
        memory="4"
	modules="python-gcc/2.7.5"
    }
    
    //medium jobs - 1 day and 10GB
    medium {
        walltime="24:00:00"
        memory="10"
    }
    
    //long - large jobs - 3 days and 42GB
    large {
        walltime="72:00:00"
        memory="42"
    }
    
    //nesoni clip - 5 hours and 10GB
    nesoni_clip {
        walltime="5:00:00"
        memory="10"
	modules="python-gcc/2.7.5"
    }
    
    //qiime_small_script - run a small qiime script.
    small_qiime_script {
        walltime="00:30:00"
        memory="8"
        modules="python-gcc/2.7.5 qiime-gcc/1.8.0"
    }
    

    //qiime - pick closed reference otus.. could be an issue
    qiime_pick_close_otus {
        walltime="96:00:00"
        memory="42"
	modules="python-gcc/2.7.5 qiime-gcc/1.8.0"
    }
}
